/* screen - my-favorites-page-logged-in */

.my-favorites-page-logged-in {
  position: absolute;
  align-items: center;
  background-color: var(--white);
  border: 0px none;
  display: flex;
  flex-direction: column;
  gap: 81px;
  height: 1448px;
  width: 1440px;
}

.my-favorites-page-logged-in .flex-col-1 {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 81px;
  min-height: 249px;
  width: 1440px;
}

.my-favorites-page-logged-in .overlap-group1 {
  align-items: center;
  background-color: var(--black);
  display: flex;
  gap: 401px;
  height: 85px;
  justify-content: flex-end;
  min-width: 1440px;
  padding: 12px 27px;
}

.my-favorites-page-logged-in .daily-nasa {
  letter-spacing: 0;
  line-height: normal;
  margin-top: 1.0px;
  min-height: 42px;
  min-width: 184px;
}

.my-favorites-page-logged-in .button-primary {
  align-self: flex-end;
  height: 60px;
  width: 200px;
}

.my-favorites-page-logged-in .my-library {
  height: 83px;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  width: 668px;
}

.my-favorites-page-logged-in .flex-row {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 32px;
  min-width: 1278px;
}

.my-favorites-page-logged-in .flex-row-1 {
  /* align-items: flex-start;
  display: flex; */
  gap: 39px;
  height: 1025px;
  min-width: 846px;
}

.my-favorites-page-logged-in .flex-col {
  /* align-items: flex-start;
  display: flex;
  flex-direction: column; */
  min-height: 1025px;
  width: 400px;
}

.my-favorites-page-logged-in .image {

  height: 400px;
  object-fit: cover;
  width: 400px;
}
.my-favorites-page-logged-in .img-block {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  height: 400px;
  object-fit: cover;
  width: 400px;
  margin: 10px;
}

.my-favorites-page-logged-in .photo-name-favorited-mmddyyyy {
  height: 56px;
  letter-spacing: 0;
  line-height: normal;
  margin-top: 16px;
}

.my-favorites-page-logged-in .image-1 {

  height: 400px;
  margin-top: 81px;
  object-fit: cover;
  width: 400px;
}

.my-favorites-page-logged-in .photo-name-favorited-mmddyyyy-1 {
  height: 56px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 7px;
  margin-top: 16px;
}

.my-favorites-page-logged-in .flex-col-2 {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  min-height: 1025px;
  width: 100%;
  margin-left: 100px;
}

.my-favorites-page-logged-in .overlap-group {
  align-self: flex-end;
  height: 400px;
  margin-top: 81px;
  position: relative;
  width: 400px;
}

.my-favorites-page-logged-in .photo-background {
  height: 21px;
  left: 116px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 14px;
}

.my-favorites-page-logged-in .image-6 {
  height: 400px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 400px;
}

.my-favorites-page-logged-in .photo-name-favorited-mmddyyyy-2 {
  height: 56px;
  letter-spacing: 0;
  line-height: normal;
  margin-left: 14px;
  margin-top: 16px;
}
