<!--Welcome-->
    <div class="welcome">
      <br>
      <h2>Welcome to Daily NASA, the best space photos in the world!</h2>
      <h3>Sign up today to start seeing photos that are out of this world.</h3>
      <br>
    </div>
