<div class="container mt-4 ">

  <div class="mb-4 mb-lg-0">
    <div class="wrapper fadeInDown">
      <div id="formContent">
        <!-- Tabs Titles -->
        <!-- Icon -->
        <div class="fadeIn first">
          <img
            src="https://www.pintarmewarnai.com/png/thumb/lW19Z0hCkwqKXw1-Star-Wars-Cute-Baby-Yoda-PNG-Transparent-Image.png"
            id="icon" alt="User Icon" />
        </div>

        <!-- Login Form -->
        <form class="login-form">
          <div>
            <label for="email-login">email:</label>
            <input type="text" id="email-login" class="fadeIn
            second" name="login" placeholder="email">
          </div>
          <div>
            <label for="password-login">password:</label>
            <input type="password" id="password-login" class="fadeIn
            third" name="login" placeholder="password">
          </div>
          <div>
            <button id="submit" type="submit">Log In</button>
          </div>

          <div id="login-error" class="alert alert-danger" role="alert">

            <p> We're sorry, there was an error with your email and/or password. Please try again!
            </p>
          </div>
        </form>

        <div id="formFooter">
          <a class="underlineHover" href="/signup">Sign Up</a>
        </div>

      </div>
    </div>
  </div>

</div>

<script src="../public/javascript/login.js"></script>